pkgbase = july-ibus
	pkgdesc = July - a Bangla input method for Linux, built on IBus (Bornona layout)
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/ashrafulislambd/July
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = ibus
	depends = python-gobject
	depends = gtk3
	optdepends = libayatana-appindicator: tray icon / minimize-to-tray support
	provides = bornona-ibus
	conflicts = bornona-ibus
	replaces = bornona-ibus
	source = july-ibus-0.2.1.tar.gz::https://github.com/ashrafulislambd/July/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = 6d205572b50288a4db69bb575022e236563029fdefa05815b05546bfb1204e95

pkgname = july-ibus
