#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install

	install -d debian/july-ibus/usr/share/ibus/component
	sed 's|@EXEC@|/usr/bin/july-ibus-engine --ibus|' data/july.xml.in \
		> debian/july-ibus/usr/share/ibus/component/july.xml

	install -d debian/july-ibus/etc/xdg/autostart
	sed 's|@VENV_PYTHON@ -m july.floating_bar|/usr/bin/july-ibus-bar|' \
		data/autostart/july-floating-bar.desktop.in \
		> debian/july-ibus/etc/xdg/autostart/july-floating-bar.desktop
	sed 's|@ENSURE_SCRIPT@|/usr/bin/july-ensure-ibus-daemon|' \
		data/autostart/july-ibus-daemon.desktop.in \
		> debian/july-ibus/etc/xdg/autostart/july-ibus-daemon.desktop

	install -d debian/july-ibus/usr/bin
	install -m 755 scripts/ensure-ibus-daemon.sh \
		debian/july-ibus/usr/bin/july-ensure-ibus-daemon
